@import url("https://fonts.googleapis.com/css2?family=Source+Sans+3:ital,wght@0,300;1,300&display=swap");

* {
  box-sizing: border-box;
}

body {
  font-family: "Source Sans 3";
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
  font-size: 12px;

  background-color: #f4f4f4;

  padding: 0;
  margin: 0;
}

a {
  text-decoration: none;
}

/* Start Navbar  */

/* start leftside bar  */
.leftsidebars {
  /* min-height: 100vh; */
  background-color: #000;
}

.nav-item.nav-categories {
  color: #fff;
  opacity: 0.9;

  margin: 10px 0;
}

.nav-item .sidebarlinks {
  opacity: 0.9;

  position: relative;
}

.nav-item .sidebarlinks:hover {
  opacity: 1;
  background-color: #666;
}

.nav-item .sidebarlinks .mores {
  position: absolute;
  top: 50%;
  right: 10px;

  transform: translateY(-50%);
}

.sidebarlinks.currents {
  background-color: #333;
  box-shadow: 1px 0 5px #222;
}
/* end leftside bar  */

/* start notify & user account  */
.dropdowns {
  position: relative;
}

.dropdowns .dropdown-contents {
  min-width: 230px;
  background-color: #f6f6f6;

  position: absolute;
  left: 50%;

  transform: translateX(-50%);

  z-index: 10;

  display: none;
}

.dropdowns .dropdown-contents a {
  color: #000;

  display: block;

  padding: 10px;
}

.dropdowns .dropdown-contents a:hover {
  background-color: #ddd;
}

.dropdowns .dropdown-contents.show {
  display: block;
}

/* end notify & user account */

/* start mobile close btn  */
.navbar .close-btns {
  width: 25px;
  height: 25px;
  background-color: transparent;

  border-radius: 50%;
  outline: none;

  margin-right: 3px;
  line-height: 22px;

  display: none;
}

@media (max-width: 768px) {
  .navbar .close-btns {
    display: block;
  }
}
/* end mobile close btn  */

/* End Navbar  */
